/***環境設定***/

*{
	hide-focus:expression(this.hideFocus=true);
	font-family:LiHei Pro, 微軟正黑體, Microsoft JhengHei, 新細明體, PMingLiU, Verdana, Geneva, sans-serif;
	color:#131313;
	-webkit-text-size-adjust:none;	/***使得Google Chrome預設最小字體大小功能失效***/
}
body {
	background-repeat: repeat-x;
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
li, li li, li li li { 
	list-style-type: none; 
} 
input,button,select,textarea{outline:none}
input[type=text],button,select,textarea{ color:#131313;border:1px solid #d0d0d5;margin:0;padding:1px;background:#fff;font-size:.916em; }
/***細部設定***/
#welcome{
	background-image: url(../images/isamBG.jpg);
	margin:0 auto;
	width:1050px;
	height:600px;
}
#pagecontent{
	margin:0 auto;
	width:960px;
	min-height:300px;
	height:auto !important;
	height:300px;
	padding:20px;
	/* background-image:url(images/main/PageContentBG.jpg); */
	background-repeat:repeat-y;
	background-position:center;
	overflow:hidden;
}

#pagecontent #leftbody{
	float:left;
	margin-left:6px;
	margin-top:15px;
	width:458px;
	min-height:200px;
	height:auto !important;
	height:200px;
	overflow:hidden;
}

#pagecontent #rightbody{
	float:left;
	margin-left:15px;
	margin-top:15px;
	width:475px;
	min-height:200px;
	height:auto !important;
	height:200px;
}

#rightbody #loginForm{
	width:290px;
	padding:15px;	
	margin:52px 10px 15px 38px;
	background-color:#e9f2fc;
	font-size:16px;
	font-family:Microsoft JhengHei, 新細明體, PMingLiU, Helvetica, sans-serif;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
}
#loginForm div{
	margin:0px 10px;
}
#loginForm h2{
	color:#a31a22;
	font-size:18px;
	font-weight:bolder;
	font-family: Calibri, Tahoma, Geneva, sans-serif;
	margin:5px 0px 15px 5px;
	padding:0;
}
#wrapper{
	margin:0 auto;
	width:1050px;;
	height:600px;
}
#mainMenu{
	width:1050px;
	margin: 0px auto;
	margin-bottom: 0px;
	margin-top: 10px;
}
#mainMenu #leftMenu{
	margin-top:30px;
	width:65%;
	float: left;
}

#mainMenu #rightMenu{
	width:35%;
	float:left;
}
/* 作者：Yuxin 教學文：http://fundesigner.net/only-css-menu 授權：MIT License (begin)*/
/* 初始化 */
body, ul, li, a{
	margin: 0;
	padding: 0;
	font-size: 16px;
	text-decoration: none;
}
ul, li {
	list-style: none;
}
/* 選單 li 之樣式 */
ul.navigation li {
	position: relative;
	float: left;
	z-index: 1;
}
/* 選單 li 裡面連結之樣式 */
ul.navigation li a{
	display: block;
	padding: 12px;
	background: #888;
	color: #FFF;
}
/* 特定在第一層，以左邊灰線分隔 */
ul.navigation > li > a{
	border-bottom: 1px solid #CCC;				
	border-left: 1px solid #CCC;
}
ul.navigation > li > a:hover{
	color: #666;
	background: #DDD
}
/* 特定在第一層 > 第二層或以後下拉部分之樣式 */
ul.navigation ul{
	display: none;
	float: left;
	position: absolute;			
	left: 0;	
	margin: 0;
}
/* 當第一層選單被觸發時，指定第二層顯示 */
ul.navigation li:hover > ul{
	display: block;
}			
/* 特定在第二層或以後下拉部分 li 之樣式 */
ul.navigation ul li {
	border-bottom: 1px solid #DDD;
}
/* 特定在第二層或以後下拉部分 li （最後一項不要底線）之樣式 */
ul.navigation ul li:last-child {
	border-bottom: none;
}
/* 第二層或以後選單 li 之樣式 */
ul.navigation ul a {
	width: 150px;
	padding: 10px;	
	color: #666;		
	background: #EEE;			
}
ul.navigation ul a:hover {		
	background: #CCC;				
}
/* 第三層之後，上一層的選單觸發則顯示出來（皆為橫向拓展） */
ul.navigation ul li:hover > ul{
	display: block;
	position: absolute;
	top: 0;				
	left: 100%;
}
/* 箭頭向下 */
.arrow-bottom {
	display: inline-block;
	margin-left: 5px;
	border-top: 4px solid #FFF;
	border-right: 4px solid transparent;				
	border-left: 4px solid transparent;		
	width: 1px;
	height: 1px;
}

/* 箭頭向右 */
.arrow-right {
	display: inline-block;
	margin-left: 12px;	
	border-top: 3px solid transparent;
	border-bottom: 3px solid transparent;
	border-left: 3px solid #666;		
	width: 1px;
	height: 1px;
}
/* 作者：Yuxin 教學文：http://fundesigner.net/only-css-menu 授權：MIT License (end)*/
#mainContent fieldset div{
	margin:0px auto;
	/* padding: 5px; */
}
#mainContent img{
	vertical-align: middle;
}
div .closed{
	display: none;
	/* max-height: 150px; */
	overflow: auto;
}
#pagecont{
	margin:0 auto;
	width:1050px;
	min-height:300px;
	height:auto !important;
	height:300px;
/* 	padding:20px; */
	/* background-image:url(images/main/PageContentBG.jpg); */
	background-repeat:repeat-y;
	background-position:center;
	overflow:hidden;
}

#pagecont #leftbody{
	float:left;
	/* margin-left:6px; */
	width:28%;
	min-height:200px;
	height:auto !important;
	height:200px;
	overflow:hidden;
}

#pagecont #rightbody{
	float:left;
	margin-left:15px;
	width:70%;
	min-height:200px;
	height:auto !important;
	height:200px;
}

.ui-tooltip{
 font-size:14px;
}

/* This css button was generated by css-button-generator.com begin*/
.btn_class_opener {
	font-size:12px;
	/* font-family:Arial; */
	font-weight:bold;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #dcdcdc;
	padding:5px 15px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(65%, #ededed), color-stop(40%, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 65%, #dfdfdf 40% );
	background:-ms-linear-gradient( top, #ededed 65%, #dfdfdf 40% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	color:#777777;
	display:inline-block;
	text-shadow:0px 0px 0px #ffffff;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	-moz-box-shadow:inset 1px 1px 0px 0px #ffffff;
 	box-shadow:inset 1px 1px 0px 0px #ffffff;
}.btn_class_opener:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(65%, #dfdfdf), color-stop(40%, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 65%, #ededed 40% );
	background:-ms-linear-gradient( top, #dfdfdf 65%, #ededed 40% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.btn_class_opener:active {
	position:relative;
	top:1px;
}
.btn_class_table {
	font-size:12px;
	font-family:Arial;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #eeb44f;
	padding:4px 10px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffc477), color-stop(100%, #fb9e25) );
	background:-moz-linear-gradient( center top, #ffc477 5%, #fb9e25 100% );
	background:-ms-linear-gradient( top, #ffc477 5%, #fb9e25 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25');
	background-color:#ffc477;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #cc9f52;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #fce2c1;
 	-moz-box-shadow:inset 1px 1px 0px 0px #fce2c1;
 	box-shadow:inset 1px 1px 0px 0px #fce2c1;
}.btn_class_table:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #fb9e25), color-stop(100%, #ffc477) );
	background:-moz-linear-gradient( center top, #fb9e25 5%, #ffc477 100% );
	background:-ms-linear-gradient( top, #fb9e25 5%, #ffc477 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477');
	background-color:#fb9e25;
}.btn_class_table:active {
	position:relative;
	top:1px;
}
.btn_class_Approval {
	font-size:12px;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #337fed;
	padding:5px 15px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(59%, #3d94f6), color-stop(46%, #1e62d0) );
	background:-moz-linear-gradient( center top, #3d94f6 59%, #1e62d0 46% );
	background:-ms-linear-gradient( top, #3d94f6 59%, #1e62d0 46% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3d94f6', endColorstr='#1e62d0');
	background-color:#3d94f6;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #1570cd;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	-moz-box-shadow:inset 1px 1px 0px 0px #97c4fe;
 	box-shadow:inset 1px 1px 0px 0px #97c4fe;
}.btn_class_Approval:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(59%, #1e62d0), color-stop(46%, #3d94f6) );
	background:-moz-linear-gradient( center top, #1e62d0 59%, #3d94f6 46% );
	background:-ms-linear-gradient( top, #1e62d0 59%, #3d94f6 46% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e62d0', endColorstr='#3d94f6');
	background-color:#1e62d0;
}.btn_class_Approval:active {
	position:relative;
	top:1px;
}
.btn_checkout {
	margin:3px 0px;
	font-size:13px;
	font-family:Arial;
	font-weight:bold;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #84bbf3;
	padding:3px 9px;
	text-decoration:none;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(83%, #bddbfa), color-stop(22%, #80b5ea) );
	background:-moz-linear-gradient( center top, #bddbfa 83%, #80b5ea 22% );
	background:-ms-linear-gradient( top, #bddbfa 83%, #80b5ea 22% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#bddbfa', endColorstr='#80b5ea');
	background-color:#bddbfa;
	color:#ffffff;
	display:inline-block;
	text-shadow:1px 1px 0px #528ecc;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #dcecfb;
 	-moz-box-shadow:inset 1px 1px 0px 0px #dcecfb;
 	box-shadow:inset 1px 1px 0px 0px #dcecfb;
}.btn_checkout:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(83%, #80b5ea), color-stop(22%, #bddbfa) );
	background:-moz-linear-gradient( center top, #80b5ea 83%, #bddbfa 22% );
	background:-ms-linear-gradient( top, #80b5ea 83%, #bddbfa 22% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#bddbfa');
	background-color:#80b5ea;
}.btn_checkout:active {
	position:relative;
	top:1px;
}
.btn_class_loaddata {
	font-size:12px;
	font-weight:normal;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	border:1px solid #ffaa22;
	padding:5px 15px;
	text-decoration:none;
	background:-moz-linear-gradient( center top, #ffec64 5%, #ffab23 100% );
	background:-ms-linear-gradient( top, #ffec64 5%, #ffab23 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffec64), color-stop(100%, #ffab23) );
	background-color:#ffec64;
	color:#333333;
/* 	color:#543954; */
	display:inline-block;
	text-shadow:1px 0px 0px #ffee66;
 	-webkit-box-shadow:inset 1px 1px 0px 0px #fff6af;
 	-moz-box-shadow:inset 1px 1px 0px 0px #fff6af;
 	box-shadow:inset 1px 1px 0px 0px #fff6af;
}.btn_class_loaddata:hover {
	background:-moz-linear-gradient( center top, #ffab23 5%, #ffec64 100% );
	background:-ms-linear-gradient( top, #ffab23 5%, #ffec64 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64');
	background:-webkit-gradient( linear, left top, left bottom, color-stop(5%, #ffab23), color-stop(100%, #ffec64) );
	background-color:#ffab23;
}.btn_class_loaddata:active {
	position:relative;
	top:1px;
}
/* This css button was generated by css-button-generator.com end*/

/*fieldset*/
fieldset{
	-moz-border-radius:6px; 
	-moz-border-top-colors:#fff #ccc #ccc #ccc #ccc #ccc #ccc #ccc #ccc; 
	-moz-border-right-colors:#fff #ccc #ccc #ccc #ccc #ccc #ccc #ccc #ccc; 
	-moz-border-left-colors:#fff #ccc #ccc #ccc #ccc #ccc #ccc #ccc #ccc; 
	-moz-border-bottom-colors:#fff #ccc #ccc #ccc #ccc #ccc #ccc #ccc #ccc;
	margin-bottom: 8px;
}
legend{
	margin-bottom: 10px;
	padding-top:2px;
	width:100%;
	border-top:1px solid #E6E6E6;
	vertical-align: middle;
}
.legendTitle{
	text-align:center;
	padding:5px 15px;
	width:200px;
	background-color: #66cccc;
	-webkit-border-radius: 30px; 
	-moz-border-radius: 30px;
	border-radius: 30px;
}
.legendStepTitle{
	width:100%;
	color:#F30;
}
.filterMsg{
	float: right;
	color: red;
	width: 40%;
	padding-top: 2px;
}
.selectBox{
	 margin:2px 0px;
	 width: 90%;
	 font-size: 15px;
}
.trRight{
	text-align: right;
	padding-right: 5px;
}
.trLeft{
	text-align: left;
}
.trCenter{
	text-align: center;
}
.datatableProj{
	width: 100%;
	font-size: 15px;
	background-color: #ddeff8; 
	border: 1px solid #a19b9e;
	text-align: center;
	vertical-align: middle;
	font-family:LiHei Pro, 微軟正黑體, Microsoft JhengHei, 新細明體, PMingLiU, Verdana, Geneva, sans-serif;
}
.datatableProj th{
	font-weight: bolder;
	border: 1px solid white;
}
.datatableProj td{
	border: 1px solid white;
}
.datatableAgree{
	width: 100%;
	font-size: 15px;
	background-color: #e2f8dd; 
	border: 1px solid #a19b9e;
	text-align: center;
	vertical-align: middle;
	font-family:LiHei Pro, 微軟正黑體, Microsoft JhengHei, 新細明體, PMingLiU, Verdana, Geneva, sans-serif;
}
.datatableAgree th{
	font-weight: bolder;
	border: 1px solid white;
}
.datatableAgree td{
	border: 1px solid white;
}
.datatableApproval{
	width: 100%;
	font-size: 15px;
	/* background-color: #e2f8dd;  */
	border: 1px solid #a19b9e;
	text-align: center;
	vertical-align: middle;
	font-family:LiHei Pro, 微軟正黑體, Microsoft JhengHei, 新細明體, PMingLiU, Verdana, Geneva, sans-serif;
}
.datatableApproval td{
	border: 1px solid white;
}
.datatableApproval tr{
	background-color: #e2f8dd;
}
.datatableApproval th{
	background-color: #888;
	font-weight: bolder;
	word-spacing: 3px;
	letter-spacing:3px;
	color: white;
	/* border: 1px solid white; */
}
.datatableApproval tr:nth-child(odd){
	background-color: white;
}
.datatableApproval tr:hover{
	background-color:  #d9d9d9;
}
.datatableApproval caption{
	background-color:  #d9d9d9;
	font-size: 16px;
	padding: 5px;
}
/*add*/
ul.tabs{
	display: inline-block;
	width: 100%;
}
ul.tabs li{
	float:left;
	
	/* -webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	-webkit-box-shadow: 5px 0px 5px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    5px 0px 5px rgba(50, 50, 50, 0.75);
	box-shadow:         5px 0px 5px rgba(50, 50, 50, 0.75); 
	
	margin: 0px 3px;
 	padding:5px 10px;
	border: 1px solid #999;
	background-color: #6699cc; */
}
div.textDiv {
	overflow:auto;
	height:280px;
	width:450px;
	font-size:small;
	/* border:1px solid #ACACAC; */
	background-color: white;
}
.qTitle{
	margin-top:10px;
	padding-left:5px;
	font: 16px;
	font-weight: bold;
	margin-left:2em;
	text-indent: -2em;
}
.qSubTitle{
	margin-top:10px;
	padding-left:5px;
	font: 16px;
	/* font-weight: bold; */
	margin-left:2em;
	/* text-indent: -2em; */
}
.qTable {
	vertical-align:middle;
	padding-left:5px;
	width: 95%;
	margin:10px 5px;
	text-align: left;
	border: 1px solid #ACACAC;
	vertical-align: middle;
}

.trCompany{
	font-weight:bold;
	padding-left:5px;
	min-height: 30px;
	border-right: 1px solid #ACACAC;
	border-bottom: 1px solid #ACACAC;
	background-color: #CCCCFF;
	white-space: nowrap;
}
.qSubject{
	font-weight:bold;
	padding-left:5px;
	background-color: #9999CC;
}
.qCheck{
	border:1px solid grey;
	width: 15px;
	height: 15px;
	font-size: 12px;
	text-align: center;
	padding:2px 5px;
	background-color: #ececec;
}
#dtable tr td{
	border:1px solid #ACACAC;
}

#dtable .qTable td{
	border:0px;
	padding: 5px 2px;
}
.qTable .qCenter{
	text-align: center;
}
.qTable .qRight{
	text-align: right;
}
.qNowrap{
	white-space: nowrap;
}
.qTRline{
	border-collapse:collapse;
}
.qTRline td{
	border-bottom: 1px solid grey;
}
.qTRUpperline{
	border-collapse:collapse;
}
.qTRUpperline td{
	border-top: 1px solid grey;
}
.qTRgrey{
	background-color: #ececec;
	text-align: center;
}
.qFontXXLarge{
	font-size: 40pt;
}
.qUnderline{
	text-decoration: underline;
}
.searchForm .tdRight{
	text-align: right;
}
.formProj{
	width: 98%;
	font-size: 15px;
	background-color: #f1f8f4;  
	border: 1px solid #a19b9e;
	text-align: left;
	vertical-align: middle;
	margin-left:10px;
	font-family:LiHei Pro, 微軟正黑體, Microsoft JhengHei, 新細明體, PMingLiU, Verdana, Geneva, sans-serif;
	border-collapse: collapse;
}
.formProj td{
	border: 1px solid #CDCDCE;
	height: 25px;
	padding: 5px 2px;
}
.formProj tr:nth-child(odd){
	background-color: #f7f7f7;
}
.formProj th{
	background-color: #dfdcdd; 
/* 	background-color: #e9eaeb;  */
	font-weight: bolder;
	border: 0px;
	margin: 0px;
	padding: 5px;
	border: 1px solid #CDCDCE;
}
.formProj a:link {
    color: #000000;
    text-decoration: underline;
}

/* visited link */
.formProj a:visited {
    color:#006600;
}

/* mouse over link */
.formProj a:hover {
    color:  #FFCC00;
}

.basetable{
	margin-left:10px;
	margin-right:10px;
	padding-right:20px;
	line-height: 30px;
}
#changeState{
	position: absolute;
	z-index:1;
	background-color: #ececec;
	width: 170px;
	text-align: left;
}
#changeState li{
	margin: 3px;
	line-height: 25px;
}
#changeState li.active{
	background-color: white;
}
#changeState li span.triangle {
	margin-left:2px;
	margin-right:5px;
    border-top: 5px solid #ececec;
    border-left: 8px solid #2D89EF;
    border-bottom:5px solid #ececec;
    display: inline-block;
}
#changeState li.active span.triangle {
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}
#radio{
	Font-size:13px !important;
	padding: 0.2em 0.2em 0;
}
.numberFmt{
	text-align: right;
}
.tbuborder td{
	border-top: 1px dotted grey;
}
.tbtitle{
	background-color:#ececec;
	color:#222;
	margin-left: 15px;
	margin-bottom: 5px;
	margin-top: 5px;;
	font-weight:bold;
	font-size: 16px;
}
.indent_2{
	text-indent: 2em;
}
pre{
	white-space:pre-wrap;
	white-space:-moz-pre-wrap !important;
	white-space:-pre-wrap;
	white-space:-o-pre-wrap;
	word-wrap:break-word;
}